*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
header{
    width:100%;
    min-height:50px;
    padding:0px 32px;
    position: fixed;
    top:0;
    border:1px solid #ccc;
}
header div{
    display: inline-block;
}
#logo{
    width:100px;
}
.header-item1{
    width:640px;
    min-height:50px;
    position: absolute;
    left:300px;
    top:50%;
    transform: translateY(-50%);
}
.header-item1 a{
    line-height: 50px;
    margin-right: 55px;
}
.header-item1 input{
    width:150px;
    height:40px;
    padding-left: 1.5rem;
    border-radius: 20px;
    background-color: #eee;
    border:0;
    outline: 0;
    -webkit-transition: .5s;
    -moz-transition:.5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header-item1 input:focus{
    width:300px;
}
.index{
    color: #ea6f5a;
}
.index:before{
    /*content:url();*/
}
.header-item2{
    height:50px;
    position: absolute;
    right:197px;
    top:50%;
    transform: translateY(-50%);
    background-color: #ccc;
}
.header-item2 a{
    line-height: 50px;
}